.bg-cards {
  background-color: #f7e9d7;
}

.card-btn {
  border: none;
  border-radius: 20px;
}

.card-btn:hover {
  background-color: #483C32;
  color: #f7e9d7;
}

.card-btn-bg {
  background-color: #f7e9d7;
}

.test {
  border: black 5px solid;
}