body {
  background-color: #483c32;
}

.header {
  background-color: #fffdf5;
  border-radius: 20px;
}

.landingpage-title {
  color: #2c2c2c;
  text-align: center;
  font-family: fantasy;
}

.landingpage-subtitle {
  color: #2c2c2c;
  text-align: center;
  font-family: initial;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.btn-color {
  background-color: #f7e9d7;
}
