body {
  background-color: #483c32;
}

.header {
  background-color: #fffdf5;
  border-radius: 90px;
  box-shadow: white 10px 10px 10px 10px;
}

.landingpage-title {
  color: #2c2c2c;
  text-align: center;
  font-family: fantasy;
}

.landingpage-subtitle {
  color: #2c2c2c;
  text-align: center;
  font-family: initial;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.btn-color,
.what-is,
.how-to {
  background-color: #f7e9d7;
}

.how-to,
.what-is {
  border: none;
  border-radius: 30px;
  box-shadow: 5px 10px #2c2c2c;
}
